<div class="landing">
	<div class="container">
		<div class="main-logo">
			<h1>DDX</h1>
			<h5>Design <span>+</span> Develop <span>+</span> Experience</h3>	
		</div>
		
	</div>
</div>
<!-- 
<div class="activity">
	<div class="container">
		<div class="title xin">
			<h3>近期活動</h3>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns card">	
				<h5>羅東高中網頁設計工作坊</h5>
				<p>哈</p>
			</div>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns card">	
				<h5>羅東高中網頁設計工作坊</h5>
				<p>哈</p>
			</div>
		</div>

	</div> -->
</div>