<!DOCTYPE html>
<html>
<head>
  <title>Ddx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-33172.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
